<!DOCTYPE html>
<html>
  <head>
    <title>Konstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar-expand-sm navbar-light bg-light">
      <%= link_to "Konstagram", root_path, class: "navbar-brand" %>
    </header>
    <%= yield %>
  </body>
</html>
